/* common */

html,
body{
	font-family: 'Varela Round', sans-serif;
	height: 100%;
	font-size: 16px;
}

*{
	box-sizing: border-box;
}

.flex{
	display: flex;
  flex-wrap: wrap;
}

.full{
	width: 100%;
}

.inline{
	display: inline-block;
}

.table{
	display: table;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
}

.table-element{
	
}

.table-element .table{
	width: 100%;
}

.table-element .cell{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px 10px;
}

.text-right{
	text-align: right;
}

.table-element .full:nth-child(2n),
.weather-wrapper .table-element .row:nth-child(2n){
	background: rgba(0, 0, 0, 0.1);
}

.table-element .full,
.weather-wrapper .table-element .row{
	background: rgba(0, 0, 0, 0.3);
}

body{
	background: #000;
}

h2{
	padding-bottom: 10px;
  font-size: 1.25em;
  line-height: 1.3em;
}

.main-container{
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  height: 100%;
}

.main{
	background-color: #FFF;
	height: 100%;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	height: 100%;
	width: 100%;
}

.app-wrapper > div{

}
