.weather-wrapper{
	width: 60%;
  padding: 2% 3%;
}

.icon{
	
}

.temperature{
	width: calc(100% - 230px);
  padding-left: 10px;
}

.temperature-now{
  font-size: 8rem;
}

.min-max{
  padding-left: 15px;
}

.temperature-min,
.temperature-max{
  font-size: 0.8rem;
}

.wi{
  font-size: 110px;
  padding-left: 30px;
  margin-bottom: 50px;
  line-height: normal;
}
