.weather-wrapper{
  border-bottom: 2px solid #f90;
  border-right: 2px solid #f90;
  height: calc(100% - 110px);
	width: 60%;
  padding: 2% 3%;
}

.weather h2{
  padding-bottom: 30px;
}

.icon{
	width: 120px;
}

.temperature{
	width: calc(100% - 120px);
}

.wi{
  font-size: 80px;
}
