.weather-wrapper{
  border-bottom: 2px solid #f90;
  border-right: 2px solid #f90;
  height: 100%;
	width: 60%;
  padding: 2% 3%;
}

.icon{
	width: 230px;
}

.temperature{
	width: calc(100% - 230px);
  padding-left: 10px;
}

.temperature-now{
  font-size: 8rem;
}

.min-max{
  padding-left: 15px;
}

.temperature-min,
.temperature-max{
  font-size: 0.8rem;
}

.wi{
  font-size: 160px;
}
